#pieLegend {
text-align:left;
margin-top:50px;
}
#donLegend {
text-align:left;
margin-top:50px;
}
.legend .title {
    font-size:12px;
	display: block;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}
